:root{
    --primary-background-color: #ffffff;
    --alternative-background-color: #2F303A;
    --acccent-background-color:#F5F4FA;
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --alternative-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
}

body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none
}

p{
    color: var(--title-text-color);
}

/* Site-nav */
.logo{
        font-family: 'Raleway';
        color: var(--accent-color);
}

.logo-nav{
color: var(--primary-text-color);
}

.site-nav .link{
color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
color: var(--accent-color);
}

/* Header contact */

.header-contact .contact{
    color: var(--title-text-color);
}

.header-contact .contact:hover,
.header-contact .contact:focus{
color: var(--accent-color);
}

/* Hero */
.hero{
    background-color: var(--alternative-background-color);
}

.hero-title{
    color: var(--primary-background-color);
}

/* Buttons */

.button{

}

.button.hero{
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.button.hero:hover,
.button.hero:focus{
cursor: pointer;
}

.button.portfolio{
    background-color: var(--acccent-background-color);
}

.button.portfolio:hover,
.button.portfolio:focus{
cursor: pointer;
background-color: var(--accent-color);
}

/* Our team */
.section-team{
    background-color: var(--acccent-background-color);
}

.team-apart{
    background-color: var(--primary-background-color);
}

/* Footer */

.footer{
    background-color: var(--alternative-background-color);
}

.logo-footer{
    color: var(--primary-background-color);
}

.footer-adress{
    color: var(--primary-background-color);
    font-style: normal;
}

.footer-contact{
        font-style: normal;
        color: var(--alternative-text-color);
}