body{
    background-color: #ffffff;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none
}

/* Site-nav */
.logo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
}

.logo-second{
color: #212121;
}

.site-nav .link{
color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus{
color: #2196F3;
}

/* Header contact */

.header-contact .contact{
    color: #757575;
}

.header-contact .contact:hover,
.header-contact .contact:focus{
color: #2196F3
}

/* colgroup text  #212121*
#2196F3/
#757575

background: #F5F4FA
#FFFFFF